[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SANple"]
	path = SANple
	url = https://github.com/laura-dangelo/sanple
[submodule "bpr"]
	path = bpr
	url = https://github.com/cran/bpr
